<?xml version="1.0" encoding="UTF-8"?>

<!-- EasyQuery by Ramon Segarra Pijuan is licensed under a Creative Commons Attribution-NonCommercial 3.0 Unported License. -->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>EasyQuery.html</welcome-file>
  </welcome-file-list>

</web-app>
